<head>
	<script type="text/javascript" src="{{ url_for('static', filename='socket.io.slim.js') }}"></script>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--	<script type="text/javascript" src="{{ url_for('static', filename='vue.min.js') }}"></script>-->
	<style> {{css}} </style>
</head>
<body>
	<div id='app'>
	<cell v-for="cell in cells" v-bind:key='cell.hash' id='cell.hash'>
	<top>
	[[ cell.datetime ]]
	</top>
	<maincode>
	<div v-html='cell.code'></div>
	</maincode>
	<bottom>
	<div v-if='cell.changed' v-html='spinnerHtml'></div>
	<termout v-else>
	<stdout>
	Standard Output:<br>
	<div v-html='cell.stdout'></div>
	</stdout>
	<stderr>
	Standard Error:<br>
	<div v-html='cell.stderr'></div>
	</stderr>
	</termout>
	<plot>
	<div v-html='cell.image'></div>
	</plot>
	</bottom>
	</cell>
	</div>
</body>
